<mat-card>
  <mat-card-header>
    <mat-card-title>{{lesson?.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let exercise of practiceItems" (click)="onPracticeSelect(exercise)"
        [selected]="selectedExercise === exercise.name">
        <div class="exercise-info">
          <span class="exercise-name">{{exercise.name}}</span>
          <mat-progress-bar mode="determinate" [value]="exercise.confidence * 10"></mat-progress-bar>
          <span *ngIf="lesson?.repeat">{{exercise.turns}}</span>
        </div>
        <iframe *ngIf="exercise.youtubeId && selectedExercise === exercise.name" width="100%" height="300"
          [src]="youtubeUrl(exercise.youtubeId!)">
        </iframe>
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>